/* CSS RESETS / GLOBAL STYLING */
:root {
  --button: #f66146;
  --header-background: #22272e;
  --main-background: #0b151d;
  --table-head: #bf4b36;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/* Main Styling */

header {
  background: var(--header-background);
  padding: 24px 64px;
  max-width: 1440px;
  font-size: 0.7rem;
}

table {
  display: flex;
  justify-content: space-between;
}

th {
  color: var(--table-head);
}

td {
  color: #fff;
}

/* NavBar Styling */

.nav-container {
  display: flex;
  justify-content: space-around;
  background: var(--main-background);
  font-size: 0.7rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89%;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-container table {
  display: inline-block;
  vertical-align: middle;
}

.nav-container th {
  color: #fff;
}

.nav-container button {
  background: var(--button);
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 120px;
  height: 40px;
}
