/* Imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* CSS RESETS / GLOBAL STYLING */
:root {
  --button: #d84949;
  --header-background: #22272e;
  --main-background: #0b151d;
  --achieve-slogan: #ffffff66;
  --paragraph: #ffffffcc;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 100%;
  font-family: sans-serif;
  background: var(--main-background);
}

/* Main Styling */

header {
  background: var(--header-background);
  padding: 24px 64px;
  max-width: 1440px;
  font-size: 1rem;
  font-weight: 400;
}

table {
  display: flex;
  justify-content: space-between;
}

table th {
  color: var(--button);
}

td {
  color: #fff;
  margin-right: 15px;
}

/* NavBar Styling */

.nav-container {
  display: flex;
  justify-content: space-around;
  background: var(--main-background);
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1312px;
  color: #fff;
}

header table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1440px; */
  margin: 0 auto;
}

header table tr:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 537px;
  height: 26px;
}

header table tr:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 228px;
  height: 26px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 759px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #e7e4e5;
}

.nav-container table {
  display: inline-block;
  vertical-align: middle;
}

.nav-container th {
  color: #fff;
  width: 127px;
  height: 18px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 17.6px;
}

button {
  background: var(--button);
  color: #fff;
  border: none;
  border-radius: 34px;
  width: 167px;
  height: 50px;
  padding: 16px 32px;
  gap: 106px;
}

.logo {
  width: 66px;
  height: 59px;
}

/* Hero Section Styling */

.hero {
  background-image: url(./resources/img/Rectangle2.png);
  height: 750px;
  width: 1400px;
  margin: 0 auto;
}

.image-text {
  position: absolute;
  width: 866px;
  height: 474px;
  top: 268px;
  left: 64px;
}

.image-text p:first-child {
  width: 254px;
  height: 29px;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--achieve-slogan);
  line-height: 28.79px;
}

.image-text p:nth-child(2) {
  font-family: "Anton", sans-serif;
  color: #fff;
  font-size: 100px;
  font-weight: 400;
  width: 866px;
  height: 199px;
  top: 424px;
  left: 70px;
  line-height: 100px;
  margin: 0;
}

.image-text p:nth-child(3) {
  width: 473px;
  height: 110px;
  top: 655px;
  left: 70px;
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--paragraph);
}

.image-text button {
  margin: 30px 0;
}

/* Intro Section Styling */

section.intro {
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  height: 365px;
  margin: 100px auto;
  text-align: center;
}

.intro h5 {
  width: 191px;
  height: 22px;
  font-weight: 500;
  line-height: 21.6px;
  color: var(--achieve-slogan);
  margin: 0 auto;
}

.intro p:nth-child(2) {
  width: 665px;
  height: 140px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #fff;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 0 auto;
}

.intro p:nth-child(3) {
  width: 570px;
  height: 29px;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 28.79px;
  margin: 0 auto;
  color: #fff;
}

.intro p:nth-child(4) {
  width: 570px;
  height: 44px;
  font-family: "Satoshi", sans-serif;
  line-height: 21.6px;
  margin: 0 auto;
  color: var(--paragraph);
}

/* Made Image Section */

.made-img {
  background-image: url(./resources/img/Rectangle28.png);
  width: 1312px;
  height: 539px;
  margin: 0 auto;
}

/* Pitch Section Styling */

.pitch {
  background-image: url(./resources/img/Rectangle27.png);
  width: 1400px;
  height: 600px;
  margin: 100px auto;
}
