/* CSS RESETS / GLOBAL STYLING */
:root {
  --button: #d84949;
  --header-background: #22272e;
  --main-background: #0b151d;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 100%;
  font-family: sans-serif;
  background: var(--main-background);
}

/* Main Styling */

header {
  background: var(--header-background);
  padding: 24px 64px;
  max-width: 1440px;
  font-size: 1rem;
  font-weight: 400;
}

table {
  display: flex;
  justify-content: space-between;
}

th {
  color: var(--button);
}

td {
  color: #fff;
}

/* NavBar Styling */

.nav-container {
  display: flex;
  justify-content: space-around;
  background: var(--main-background);
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1312px;
  color: #fff;
}

header table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1440px; */
  margin: 0 auto;
}

header table tr:first-child {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 537px;
  height: 26px;
}

header table tr:last-child {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 228px;
  height: 26px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 759px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #e7e4e5;
}

.nav-container table {
  display: inline-block;
  vertical-align: middle;
}

.nav-container th {
  color: #fff;
  width: 127px;
  height: 18px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 17.6px;
}

button {
  background: var(--button);
  color: #fff;
  border: none;
  border-radius: 34px;
  width: 167px;
  height: 50px;
}

.logo {
  width: 66px;
  height: 59px;
}

/* Hero Section Styling */

.hero {
  background-image: url(./resources/img/Rectangle2.png);
  height: 750px;
  width: 1400px;
  margin: 0 auto;
}

.image-text {
  position: absolute;
  width: 866px;
  height: 474px;
  top: 373px;
  left: 70px;
}
